<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>github repo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
      <header>
        <a href="#">Explore</a>
        <a href="#">Gist</a>
        <a href="#">Blog</a>
        <a href="#">Help</a>
        <a href="#" id="seperate">maswhitaker</a>
      </header>

        <script type ="text/template" id="information">
          <img src="<%= avatar_url %>">
          <h1> <%= name %> </h1>
          <h2> <%= login %> </h2>
          <div id="below-head">
            <h3> <%= location %> </h3>
            <a href="#"> <%= email %> </a>
            <a href="www.masonwhitaker.com"><%= blog %></a>
            <p>Join date: <%= created_at %></p>
          </div>
          <div id="follow">
          <a href="<%= followers_url %>"><%= followers %></a>
          <a href="<%= starred_url %>">1</a>
          <a href="<%= following_url %>"><%= following %></a>
          <p>Followers</p>
          <p>Starred</p>
          <p>Following</p>
          </div>
          </script>
          <script type="text/template" id="repo-information">
          <h1><%= repo.name %></h1>
          </script>
          <div id="target"></div>
          <div id="second-target"></div>
          <script src="bower_components/jquery/dist/jquery.js"></script>
          <script src="bower_components/underscore/underscore.js"></script>
          <script src="bower_components/modernizr/modernizr.js"></script>
          <script src="scripts/main.js"></script>
    </body>
</html>
